/* Put your code here */

.grid {
    display: grid;

    grid-template: [row-1-start] 100px [row-1-end row-2-start] 100px [row-2-end]
        / repeat(12, [small] 20px [large] 40px);

    /* grid-gap: 10px 20px; */
    /* grid-template-areas: 
    "E . A"
    "B C ."
    "B D F"
    ; */
}

.grid div:nth-child(1){
    grid-column: 1 / span 24;
}

.grid div:nth-child(2){
    grid-column: small 1 / large 3;
}

.grid div:nth-child(3){
    grid-column: auto / span 6;
}

.grid div:nth-child(4){
    grid-column: auto / span 6;
}

.grid div:nth-child(5){
    grid-column: auto / span 12;
}

.grid div:nth-child(6){
    grid-column: auto / span 12;
}
